@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.banner-top {
    background-color: #1CD1B0;
    height: 38px;
    width: 100%;
    position: relative;
    z-index: 2;
}
.txt-banner {
    font-size: 15px;
    padding: 10px 0;
    padding-left: 50px;
}
.header-top {
    background-color: #00669F;
    box-shadow: 0 3px 15px #000000;
    display: flex;
    position: sticky;
    height: 101px;
    width: 100%;
    z-index: 1;
}
.titulo-principal {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: lighter;
    padding: 25px 0;
    padding-left: 50px;
}
.menu{
    color: #FFFFFF;
    font-size: 13px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 40px;
    padding-right: 90px;
}
.lista-menu{
    list-style: none;
    display: flex;
    gap: 50px;
}
.noticias {
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto 50px auto;
}
.articulo-heroe {
    background-color: #F3F3F3;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 3px 10px #666;
    height: 600px;
    margin: auto 10px;
    width: 300px;
}
.icono {
    color: #f00;
    position: relative;
    top: 15px;
    left: 15px;
}
.maskBatman {
    background-image: url(../img/Mask\ Group1.png);
    background-size: cover;
    height: 194px;
}
.maskMaravilla {
    background-image: url(../img/Mask\ Group2.png);
    background-size: cover;
    height: 194px;
}
.maskSuper {
    background-image: url(../img/Mask\ Group3.png);
    background-size: cover;
    height: 194px;
}
.maskHarley {
    background-image: url(../img/Mask\ Group4.png);
    background-size: cover;
    height: 194px;
}
.perfil-heroe {
    border-radius: 70px;
    left: 90px;
    height: 128px;
    position: relative;
    right: 90px;
    top: -75px;
    width: 128px;
}
.titulo-noticia {
    font-size: 30px;
    font-weight: lighter;
    margin-top: -70px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
.txt-noticia {
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 30px;
    padding: 15px;
}
.btn-articulo {
    background-color: #00669F;
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px 5px;
    text-decoration: none;
    text-align: center;
    display: block;
}
.plus {
    background-color: #00669F;
    border-radius: 45px;
    height: 50px;
    position: absolute;
    right: 5px;
    top: 95vh;
    width: 50px; 
    cursor: pointer; 
}
.plus:hover { 
    background: #001D2D; 
}
.plus:active { 
    background: #001D2D;  
} 
.pie {
    align-items: center;
    background-color: #00669F;
    border: 0;
    display: flex;
    height: 51px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.txt-final {
    color: #FFF9F9;
    font-size: 16px;
    font-weight: lighter;
    margin: auto;
}
.logoGit {
    height: 25px;
    margin-right: 20px;
    width: 120px;
}
.formulario{
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    padding: 10px 50px;
    background-color: #00669F;
    border-radius: 49px;
    color: #FFFFFF;
}
.titulo{
    text-align: center;
    font-size: 40px;
    font-weight:700;
    color: #FFFFFF;
    padding-top: 5%;
}
.subtitulo{
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    padding-top: 3%;
    padding-bottom: 5%;
}
.cajaformulario{
    display: flex;
    font-weight: 300;
}
.caja{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
    padding: 10px 10px 20px;
}
.nombre{
    margin-bottom: 3%;
}
.nombreformulario{
    padding: 20px 5px;
    border-radius: 10px;
    border: 0;
}
.fecha{
    margin-bottom: 3%;
}
.date{
    padding: 20px 5px;
    border-radius: 10px;
    border: 0;
}
textarea{
    padding: 20px 5px;
    border-radius: 10px;
    border: 0;
    flex-grow: 1;
    resize: none;  
}
.especie{
    margin-bottom: 3%;
}
.especie-opcion{
    padding: 20px 5px;
    border-radius: 10px;
    border: 0;
    font-size: 16px;
}
.foto{
    margin-bottom: 9%;
}
.agregar-foto{
    height: 15%;
    font-size: 20px;
    margin-bottom: -30px;
}
.poderes{
    padding: 20px 5px;
    border-radius: 10px;
    border: 0;
}
.checkbox{
    padding: 5px 0px;
    border-radius: 10px;
    border: 0;
    margin-right: 6px;
}
.hr{
    background-color: #FFFFFF;
}
.opcion{
    margin-right: 6px;
}
.caja-boton{
    text-align: center;
}
.espacio {
    padding: 5px 0;
    display: block;
}
.añadir{
    display: inline-block;
    background-color: #1CD1B0;
    color: #000000;
    padding: 20px 150px;
    border-radius: 23px;
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
}
input:focus {
    background-color:aquamarine;
}
select:focus{
    background-color:aquamarine;
}
input[type="checkbox"]:checked{
    accent-color: aquamarine;
}
.añadir:hover { 
    background: #001D2D; 
    color: white; 
} 
.añadir:active { 
    background: #001D2D; 
    color: white; 
} 
@media screen and (max-width: 820px){
.noticias {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}
.articulo-heroe {
    margin: 20px 0;
    
}
.formulario{
    width: 95%;
}
.cajaformulario {
    flex-direction: column;
    align-items: center;
}
.caja {
    width: 100%;
}
.añadir{
    padding: 10px 80px;
    font-size: 20px;
}
}
@media screen and (max-width: 480px){
.titulo-principal{
    font-size: 30px;
}
.noticias {
    flex-wrap: wrap;
}
.articulo-heroe {
    margin: 10px 0;
}
.formulario{
    width: 95%;
}
.cajaformulario {
    flex-direction: column;
    align-items: center;
}
.caja {
    width: 100%;
}
.añadir{
    padding: 10px 80px;
    font-size: 20px;
}
}